html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: rgb(100, 70, 160);
    align-items: center;
    width: 100%;
    height: calc(100vh-20px);
}

h1{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: white;
}

p{
    text-align: center;
    font-size: 25px;
    color:white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
}
